* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --body-background: hsl(0, 0%, 8%);
    --card-background: hsl(0, 0%, 12%);
    --button-background: hsl(0, 0%, 20%);
    --green: hsl(75, 94%, 57%);
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-background);
}

.section-card {
    .card {
        width: 20em;
        border-radius: 10px;
        text-align: center;
        background-color: var(--card-background);
        padding: 30px;

        img {
            max-width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 9999px;
            margin-bottom: 20px;
        }

        h2,
        p {
            color: white;
        }

        h2 {
            font-weight: 700;
        }

        h4 {
            color: var(--green);
            font-weight: 700;
        }

        p {
            margin: 20px 0 15px 0;
            font-size: 0.875rem;
            font-weight: 400;
        }

        button {
            width: 100%;
            height: 5ex;
            border: none;
            color: white;
            border-radius: 7px;
            display: flex;
            cursor: pointer;
            font-weight: 700;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 10px 0 10px 0;
            flex-direction: column;
            background-color: var(--button-background);
            transition: all 0.3s ease-in-out;
        }

        button:hover {
            color: var(--button-background);
            background-color: var(--green);
        }

        a {
            text-decoration: none;
        }
    }
}